@import "tailwindcss";
@config "../tailwind.config.js";
@font-face {
  font-family: 'GoCake';
  src: url('./assets/fonts/GoCake.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
